
<%- include('../includes/head.ejs') %>

    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Tiendita</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/comprar">COMPRAR</a></li>
            <li><a href="/utiles/new">Registrar nuevo articulo</a></li>
            <li><a href="/user/logout">Cerrar sesion</a></li>
          </ul>
        </div>
    </nav>

<h1>Ariculos Escolares</h1>



<% if (utiles.length > 0) { %>
  <div class="row">
      <% for (let r of utiles) { %>
          <div class="col s12 m4 l3">
              <%- include('card.ejs', {utiles: r}) %>
          </div>
      <% } %>
  </div>
<% } else { %>
  <h3>No hay articulos registrados.</h3>
<% } %>

<% if (ultimo_articulo != '') { %>
  <p>El último articulo registrado fue: <%= ultimo_articulo %></p>
<% } %>

<%- include('../includes/foot.ejs') %>