<h1>Registrar nuevo articulo escolar</h1>

<form action="/utiles/new" method="POST">
    <label for="nombre">Articulo: </label>
    <input type="text" id="nombre" name="nombre">
    <br><br>

    <label for="precio">Precio: </label>
    <input type="text" id="precio" name="precio">
    <br><br>

    <label for="descripcion">Descripcion: </label>
    <input type="text" id="descripcion" name="descripcion">
    <br><br>

    <label for="imagen">Enlace Imagen: </label>
    <input type="text" id="imagen" name="imagen">
    <br><br>

    <input type="submit" id="enviar" name="enviar" value="Registrar">
</form>