<h1>Registrar nuevo articulo escolar</h1>

<form action="/utiles/new" method="POST">
    <label for="nombre">Articulo: </label>
    <input type="text" id="nombre" name="nombre">
    <br><br>
    <input type="submit" id="enviar" name="enviar" value="Registrar">
</form>