


    <h1>Registrar nuevo USUARIO </h1>

    
        <form action="/user/new" method="POST">

    <label for="nombre">Nombre usuario: </label>
    <input type="text" id="nombre" name="nombre" value="<%= utiles.nombre ? utiles.nombre : '' %>">
    <br><br>

    <label for="precio">Nombre: </label>
    <input type="text" id="precio" name="precio" value="<%= utiles.precio ? utiles.precio : '' %>">
    <br><br>

    <label for="descripcion">Contraseña: </label>
    <input type="password" id="descripcion" name="descripcion" value="<%= utiles.descripcion ? utiles.descripcion : '' %>">
    <br><br>

     
    <input type="submit" id="enviar" name="enviar" value="Registrar">

    
</form>