<h1>Registrar usuario</h1>
<form action="/user/new" method="POST">

    <label for="username">Username: </label>
    <input type="text" id="username" name="username">
    <br>
    <br>
    <label for="password">Contraseña: </label>
    <input type="password" id="password" name="password">
    <br>
    <br>
    <label for="nombre">Nombre completo: </label>
    <input type="text" id="nombre" name="nombre">
    <br>
    <br>
    
    <input type="submit" id="enviar" name="enviar" value="Registrar">
</form>